
@{
    ViewBag.Title = "UserView";
}

<h2>UserView</h2>

<p> 
    User : <br/>
    Cash : @Model.Cash <br/>

    Band : <br/>
    Name : @Model.Band.Name <br />
    Fame : @Model.Band.Fame <br />
 </p>