<!DOCTYPE html>
    <!-- Vue réprésentant le menu de l'application qui est présent en footer sur toutes les vues de l'appli -->
    <div class="container">
        <div class="row">
            <div class="col-xs-3"> @Html.ActionLink("User", "UserView", "ThatsMyBand") </div>
            <div class="col-xs-3"> @Html.ActionLink("Band", "BandView", "ThatsMyBand") </div>
            <div class="col-xs-3"> @Html.ActionLink("Player", "PlayerView", "ThatsMyBand") </div>
            <div class="col-xs-3"> @Html.ActionLink("Board", "BoardView", "ThatsMyBand") </div>
        </div>
    </div>